@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

img {
  max-height: 150px;
  margin: auto;
  display: inline-block;
}

td {
  position: relative;
  right: 55%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  margin-top: 80px;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}

.card__caption {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  position: relative;
  border-radius: 0 0 3px 3px;
}

.card__image-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.card__type {
  position: absolute;
  top: 0;
  right: 1em;
  transform: translateY(-50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
  line-height: 1;
  border-radius: 2px;
  background: #bbbbbb;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 3px;
}

.card__name {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.card__stats {
  margin: 1em 0;
  width: 100%;
}

.card__stats th {
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  text-align: right;
  font-weight: 500;
}

.card__stats th, .card__stats td {
  width: 50%;
  padding: 0.25em 0.5em 0;
  font-size: 20px;
}

.card__abilities {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.card__ability {
  margin-top: 1em;
  flex: 1 0;
}

.card--normal {
  background: linear-gradient(110deg, #191919 0%, #5c0249 100%);
}

.card--normal .card__type {
  background-color: #5c0249;
}

.card:nth-child(1) {
  transform: translateY(0px) rotate(-2deg);
}

.card:nth-child(2) {
  transform: translateY(0px) rotate(-5deg);
}

.card:nth-child(3) {
  transform: translateY(0px) rotate(2deg);
}

.card:nth-child(4) {
  transform: translateY(0px) rotate(4deg);
}

.card:nth-child(5) {
  transform: translateY(0px) rotate(-3deg);
}

.card:nth-child(6) {
  transform: translateY(0px) rotate(-1deg);
}

.card:nth-child(7) {
  transform: translateY(0px) rotate(3deg);
}

.card:nth-child(8) {
  transform: translateY(0px) rotate(4deg);
}

.card:nth-child(9) {
  transform: translateY(0px) rotate(-5deg);
}

.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  transform: translateY(-10px);
}








*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body{
  background: rgb(243, 247, 35);
 
}





form{
 
  width: 50%;
  margin: auto;
  position: relative;
  top:30px;
  
}



/*input dentro do form*/
input{
  margin: auto;
  display: flex;
  width: 100%;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10px 10px 13px 13px;
  outline-style: none;
  cursor: text;
  
  

}




/*botao dentro do form*/
button{
margin: auto;
width: 100px;
padding: 8px;
border-radius: 10px;
background: rgb(146, 146, 248);
font-size: 16px;
font-family: sans-serif;
font-weight: bold;
cursor: pointer;
}



button:hover{
  background: rgb(104, 104, 226);
  transition: 0.2s ease;

}





#logo {
  height: 100px;
  display: flex;
  margin: auto;
 


}







/*div do botao*/
#botao{
  margin: auto;
  display: flex;
  

  padding: 1px;
}


/*divs*/




.pokeCard{
  margin: auto;
  width: 60%;
  display: flex;

  
}
.container{
  margin: auto;
  font-size: 20px;

}
.p{
  padding: 5px;
  font-size: 27px;
  font-family: sans-serif;
  margin-bottom: 5px;
  font-weight: bold;

}
